# Virtual Environment
venv/
.venv/
env/

# PyCharm IDE
.idea/

# Python Cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
logs/
*.log

# Model files
models/*.pkl
models/*.h5

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Distribution / build
dist/
build/
*.egg-info/

# Byte-compiled files
*.pyc
